
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: 'Courier New', monospace;
    }
  </style>


<body>
  <h1>Course combination finder</h1>
  <h3>Yizhi Tang, Dongchen Zou</h3>
  
  <a href="catalog.html" class="button">All Courses</a>

  <form method="POST" action="/login">
      <p>You are currently : {{ name }}</p>
    <p>Please enter your name: <input type="text" name="name"> <input type="submit" value="Login"></p>
  </form>

  <form method="POST" action="/add">
  <p>Add name of a new course: <input type="text" name="name"> <input type="submit" value="Add"></p>
  </form>
  <form method="POST" action="/remove">
  <p>Remove name of an existing course: <input type="text" name="name"> <input type="submit" value="Remove"></p>
  </form>
  <form>
  <button type=submit formmethod="post" formaction="/removeall">Remove all courses</button>
  </form>
  <div>
      {{ msg }}
      <br><br>
  </div>

  <div>
    Current courses in schedule:
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  <br><br>
    <div style="white-space: pre-wrap">
    The Permutations:
    {% for n in list %}
      <div>{{n}}</div>
    {% endfor %}
    </div>
    <form method="POST" action="/save">
      <p>Please insert the index you want to save, separated by comma: <input type="text" name="name"> <input type="submit" value="Save"></p>
    </form>

</body>


</html>